footer.footer
    .footerTop
        .container
            .row
                .col-lg-12
                    .footerTop__wrapper
                        h4.footerTop__heading Share Your Favorite Mobile Apps With Your Friends
                        ul.footerLinks
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-facebook
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-twitter
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-instagram
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-google
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-youtube
                            li.footerLinks__item
                                a(href='#').footerLinks__link
                                    i.fa.fa-linkedin
    .footerBottom
        p.footerBottom__text 2016 © Copyright Applayers. All rights Reserved.
        a.footerBottom__up