header
    .container
        .navbar
            .logo.logo-mobile
                a(href='#')
                    img(src='static/img/logo.png' alt='logo')
            .navIcon(id='navIcon')
                span.navIcon__line
                span.navIcon__line
                span.navIcon__line
                span.navIcon__line
            nav.nav(id='navbar')
                ul.nav__list
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/').nav__link Home
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/aboutus').nav__link Services
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/coming-soon').nav__link Portfolio
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/coming-soon').nav__link Pricing
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/coming-soon').nav__link Team
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/error404').nav__link Testimonial
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/blog').nav__link Blog
                    li.nav__item
                        a(href='https://shatyliuk.github.io/applayers/coming-soon').nav__link Contact
                    li.nav__item
                        a(href='#').nav__link Page
                        ul.dropdown
                            li.dropdown__item
                                a(href='https://shatyliuk.github.io/applayers/coming-soon').dropdown__link List width
                            li.dropdown__item
                                a(href='https://shatyliuk.github.io/applayers/coming-soon').dropdown__link List width
                            li.dropdown__item
                                a(href='https://shatyliuk.github.io/applayers/coming-soon').dropdown__link List width
                            li.dropdown__item
                                a(href='https://shatyliuk.github.io/applayers/coming-soon').dropdown__link List width
