header
    .container
        .row
            .navbar
                .col-lg-2
                    .logo
                        a(href='#')
                            img(src='static/img/logo.png' alt='logo')
                .col-lg-10
                    nav.nav
                        ul.nav__list
                            li.nav__item
                                a(href='#').nav__link Home
                            li.nav__item
                                a(href='#').nav__link Services
                            li.nav__item
                                a(href='#').nav__link Portfolio
                            li.nav__item
                                a(href='#').nav__link Pricing
                            li.nav__item
                                a(href='#').nav__link Team
                            li.nav__item
                                a(href='#').nav__link Testimonial
                            li.nav__item
                                a(href='#').nav__link Blog
                            li.nav__item
                                a(href='#').nav__link Contact
                            li.nav__item
                                a(href='#').nav__link Page
                                ul.dropdown
                                    li.dropdown__item
                                        a.dropdown__link List width
                                    li.dropdown__item
                                        a.dropdown__link List width
                                    li.dropdown__item
                                        a.dropdown__link List width
                                    li.dropdown__item
                                        a.dropdown__link List width