extends ../layout/main
block variables
    - var title = 'coming soon'
block content
    section.topBanner.comingSoon
        .container
            .row
                .col-lg-4
                    .comingSoon__image
                        img(src='static/img/coming_soon.png').comingSoon__img
                .col-lg-8
                    .countdown
                        h2.countdown__header This Site is Almost Ready We're Coming Soon...
                        .countdownTimer
                            #countdownTimer 15d 4h 18m 3s
                        form.searchForm
                            input(type='email' placeholder='Email Address').searchForm__input
                            button(type='submit').btn.btn-yellow.btn-search
                                i.fa.fa-search
                                | Search Now
