extends ../layout/main
block variables
    - var title = 'Index'
block content
    section.topBanner
        .container
            .row
                .col-lg-6
                    .topBanner__text
                        h1.topBanner__header Present your app in beautiful way with App Layers.
                        h4.topBanner__available
                            | Available on &nbsp
                            span.topBanner__accent App Store &nbsp
                            | and &nbsp
                            span.topBanner__accent Play Store
                        .sectionButtons
                            a.btn.btn-red.btn-mright
                                i.fa.fa-apple
                                |App Store
                            a.btn.btn-yellow
                                i.fa.fa-android
                                |Play Store
                .col-lg-6
                    .topBanner__image
                        img.topBanner__img(src='static/img/image-1.png')
    section.features
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header AWESOME FEATURES
                        h3.sectionHeading__text App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                .col-lg-6
                    .featuresDetails
                        .featuresDetails__column.featuresDetails__column-right
                            .featuresDetails__item
                                i.featuresDetails__icon.fa.fa-user
                                h5.featuresDetails__heading Amazing support
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                            .featuresDetails__item
                                i.featuresDetails__icon.fa.fa-camera
                                h5.featuresDetails__heading Share Photos
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .featuresDetails__column
                            .featuresDetails__item.featuresDetails__item-right
                                i.featuresDetails__icon.fa.fa-paperclip
                                h5.featuresDetails__heading File Attachment
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                            .featuresDetails__item.featuresDetails__item-right
                                i.featuresDetails__icon.fa.fa-desktop
                                h5.featuresDetails__heading Modern design
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                .col-lg-6
                    .features__img
                        img(src='static/img/features_img.png' alt='features')
    section.services
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header.sectionHeading__header-white AWESOME FEATURES
                        h3.sectionHeading__text.sectionHeading__text-white App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                .col-lg-6
                    .servicesImage
                        img(src='static/img/services_img1.png' alt='services').servicesImage__img.servicesImage__img-left
                        img(src='static/img/services_img2.png' alt='services').servicesImage__img
                .col-lg-6
                    .servicesDetails
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-html5
                            .servicesDetails__info
                                h5.servicesDetails__header HTML5 & CSS3
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-desktop
                            .servicesDetails__info
                                h5.servicesDetails__header Fully Reponsive
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-rocket
                            .servicesDetails__info
                                h5.servicesDetails__header Unlimited Support
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
