extends ../layout/main
block variables
    - var title = 'Index'
block content
    section.topBanner
        .container
            .row
                .col-lg-6
                    .topBanner__text
                        h1.topBanner__header Present your app in beautiful way with App Layers.
                        h4.topBanner__available
                            | Available on &nbsp
                            span.topBanner__accent App Store &nbsp
                            | and &nbsp
                            span.topBanner__accent Play Store
                        .sectionButtons
                            a(href='#').btn.btn-red.btn-mright.btn-banner
                                i.fa.fa-apple
                                |App Store
                            a(href='#').btn.btn-yellow
                                i.fa.fa-android
                                |Play Store
                .col-lg-6
                    .topBanner__image
                        img.topBanner__img(src='static/img/image-1.png')
    section.features
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header AWESOME FEATURES
                        h3.sectionHeading__text App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                .col-lg-6
                    .featuresDetails
                        .featuresDetails__column.featuresDetails__column-right
                            .featuresDetails__item
                                i.featuresDetails__icon.fa.fa-user
                                h5.featuresDetails__heading Amazing support
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                            .featuresDetails__item
                                i.featuresDetails__icon.fa.fa-camera
                                h5.featuresDetails__heading Share Photos
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .featuresDetails__column.featuresDetails__column-left
                            .featuresDetails__item.featuresDetails__item-right
                                i.featuresDetails__icon.fa.fa-paperclip
                                h5.featuresDetails__heading File Attachment
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                            .featuresDetails__item.featuresDetails__item-right
                                i.featuresDetails__icon.fa.fa-desktop
                                h5.featuresDetails__heading Modern design
                                p.featuresDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                .col-lg-6
                    .features__img
                        img(src='static/img/features_img.png' alt='features')
    section.services
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header.sectionHeading__header-white AWESOME FEATURES
                        h3.sectionHeading__text.sectionHeading__text-white App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                .col-lg-6.col-md-12
                    .servicesImage
                        img(src='static/img/services_img1.png' alt='services').servicesImage__img.servicesImage__img-left
                        img(src='static/img/services_img2.png' alt='services').servicesImage__img
                .col-lg-6.col-md-12
                    .servicesDetails
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-html5
                            .servicesDetails__info
                                h5.servicesDetails__header HTML5 & CSS3
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-desktop
                            .servicesDetails__info
                                h5.servicesDetails__header Fully Reponsive
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
                        .servicesDetails__item
                            a(href='#').servicesDetails__link
                                span.servicesDetails__circle
                                    i.servicesDetails__icon.fa.fa-rocket
                            .servicesDetails__info
                                h5.servicesDetails__header Unlimited Support
                                p.servicesDetails__text Contrary to popular belief, Lorem Ipsum is not simply random text.
    section.howItWork
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header HOW IT WORK
                        h3.sectionHeading__text App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                .col-lg-4
                    .howItWorkInfo.howItWorkInfo-left
                        a(href='#').howItWorkInfo__link
                            i.howItWorkInfo__icon.fa.fa-eye
                        a(href='#').howItWorkInfo__link.howItWorkInfo__link-border Listing Image
                        p.howItWorkInfo__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    .howItWorkInfo.howItWorkInfo-left
                        a(href='#').howItWorkInfo__link
                            i.howItWorkInfo__icon.fa.fa-clock-o
                        a(href='#').howItWorkInfo__link.howItWorkInfo__link-border Listing Update Time
                        p.howItWorkInfo__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                .col-lg-4
                    .howItWorkInfo__image
                        img(src='static/img/how_to_work.png')
                .col-lg-4
                    .howItWorkInfo.howItWorkInfo-right
                        a(href='#').howItWorkInfo__link
                            i.howItWorkInfo__icon.fa.fa-star-o
                        a(href='#').howItWorkInfo__link.howItWorkInfo__link-border View Listing Detail
                        p.howItWorkInfo__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    .howItWorkInfo.howItWorkInfo-right
                        a(href='#').howItWorkInfo__link
                            i.howItWorkInfo__icon.fa.fa-heart-o
                        a(href='#').howItWorkInfo__link.howItWorkInfo__link-border Add to favorites
                        p.howItWorkInfo__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
    section.portfolio
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header OUR PORTFOLIO
                        h3.sectionHeading__text App Layers offers a wide range of features with Beautiful Design & Great Functionality. Lorem Ipsum is simply dummy text
                    .tags
                        ul.tags__list
                            li.tags__item
                                a(href='#').tags__link Show All
                            li.tags__item
                                a(href='#').tags__link Design
                            li.tags__item
                                a(href='#').tags__link Audio
                            li.tags__item
                                a(href='#').tags__link Image
                            li.tags__item
                                a(href='#').tags__link YouTube

                    .portfolioItems
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio1.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio3.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio1.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio3.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio1.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio
                        .col-lg-4
                            .portfolioItems__item
                                img(src='static/img/portfolio3.png').portfolioItems__img
                                h5.portfolioItems__header Lorem Ipsum is simply dummy text
                                p.portfolioItems__text Design, Audio

    section.pricing
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header.sectionHeading__header-white PRICING TABLE
                        h3.sectionHeading__text.sectionHeading__text-white We ensure quality & support. People love us & we love them. Here goes some simple dummy text.
                .col-lg-4
                    .table
                        .table__discount
                            span Save 10%
                        h4.table__header Basic
                        .table__pricing
                            .table__circle
                                span 19$
                                span /Month
                        ul.table__list
                            li.table__li 1 GB Space
                            li.table__li 10 GB Bandwidth
                            li.table__li Enhanced Security
                        .sectionButtons
                            a(href='#').btn.btn-yellow.btn-order
                                i.fa.fa-cart-plus
                                | Order Now
                .col-lg-4
                    .table
                        .table__discount
                            span Save 15%
                        h4.table__header Pro
                        .table__pricing
                            .table__circle
                                span 29$
                                span /Month
                        ul.table__list
                            li.table__li 5 GB Space
                            li.table__li 20 GB Bandwidth
                            li.table__li Enhanced Security
                        .sectionButtons
                            a(href='#').btn.btn-yellow.btn-order
                                i.fa.fa-cart-plus
                                | Order Now
                .col-lg-4
                    .table
                        .table__discount
                            span Save 20%
                        h4.table__header Advanced
                        .table__pricing
                            .table__circle
                                span 39$
                                span /Month
                        ul.table__list
                            li.table__li 7 GB Space
                            li.table__li 25 GB Bandwidth
                            li.table__li Enhanced Security
                        .sectionButtons
                            a(href='#').btn.btn-yellow.btn-order
                                i.fa.fa-cart-plus
                                | Order Now
    section.team
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header TEAM MEMBERS
                        h3.sectionHeading__text We're the best professionals in this. Here goes some simple dummy text. Lorem Ipsum is simply dummy text
                .col-lg-3
                    .member
                        .member__image
                            img(src='static/img/member_1.png')
                        .member__name
                            h5 John Capone
                            p Web Art Director
                .col-lg-3
                    .member
                        .member__image
                            img(src='static/img/member_2.png')
                        .member__name
                            h5 Marlon Leend
                            p Head Phographer
                .col-lg-3
                    .member
                        .member__image
                            img(src='static/img/member_3.png')
                        .member__name
                            h5 Robert Son
                            p Marketing Director
                .col-lg-3
                    .member
                        .member__image
                            img(src='static/img/member_4.png')
                        .member__name
                            h5 John Capone
                            p Web Art Director
    section.testimonial
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header.sectionHeading__header-white TESTIMONIAL
                        h3.sectionHeading__text.sectionHeading__text-white We ensure quality & support. People love us & we love them. Here goes some simple dummy text.
                    .testimonialSlide
                        .testimonialSlide__card
                            .testimonialSlide__image
                                img(src='static/img/testi_img1.png' alt='face')
                                h5 John Capone
                                p Web Art Director
                            .testimonialSlide__text
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi odio, gravida at turpis et, porta bibendum justo.
    section.blog
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header OUR LATEST BLOG
                        h3.sectionHeading__text We share our best ideas in our blog. Dummy text of the printing and typesetting industry.
                .col-lg-4
                    article.blogArticle
                        .blogArticle__img
                            img(src='static/img/blog-img1.png')
                        .blogArticle__detail
                            a(href="#").blogArticle__category Marketing
                            a(href="#").blogArticle__header Lorem Ipsum is simply dummy text of the printing.
                            .blogArticle__info
                                span.blogArticle__time 20 March 2016
                                a(href="#").blogArticle__comment Comments
                            a(href="#").blogArticle__link Read More
                .col-lg-4
                    article.blogArticle
                        .blogArticle__img
                            img(src='static/img/blog-img2.png')
                        .blogArticle__detail
                            a(href="#").blogArticle__category Marketing
                            a(href="#").blogArticle__header Lorem Ipsum is simply dummy text of the printing.
                            .blogArticle__info
                                span.blogArticle__time 20 March 2016
                                a(href="#").blogArticle__comment Comments
                            a(href="#").blogArticle__link Read More
                .col-lg-4
                    article.blogArticle
                        .blogArticle__img
                            img(src='static/img/blog-img3.png')
                        .blogArticle__detail
                            a(href="#").blogArticle__category Marketing
                            a(href="#").blogArticle__header Lorem Ipsum is simply dummy text of the printing.
                            .blogArticle__info
                                span.blogArticle__time 20 March 2016
                                a(href="#").blogArticle__comment Comments
                            a(href="#").blogArticle__link Read More
    section.contacts
        .container
            .row
                .col-lg-12
                    .sectionHeading
                        h2.sectionHeading__header.sectionHeading__header-white CONTACT US
                        h3.sectionHeading__text.sectionHeading__text-white Let drop a line to us & we will be in touch soon. Here goes some simple dummy text. Lorem Ipsum is simply dummy text
                .col-lg-6
                    .contactForm
                        form.contactForm__wrapper
                            .contactForm__group
                                label(for='name') Full Name:
                                    span *
                                input(name='name' id='name').contactForm__input
                            .contactForm__group
                                label(for='email') Email Address:
                                    span *
                                input(name='email' id='email').contactForm__input
                            .contactForm__group
                                label(for='message') Message:
                                    span *
                                textarea(name='message' id='message').contactForm__area
                            .contactForm__button
                                button(type='submit').btn.btn-yellow.contactForm__submit Send Message
                .col-lg-6
                    .contactInfo
                        ul.contactInfo__list
                            li.contactInfo__item
                                i.contactInfo__icon.fa.fa-home.servicesDetails__icon
                                h5.contactInfo__heading 1234 Street Name, City Name, United States
                            li.contactInfo__item
                                i.contactInfo__icon.fa.fa-envelope-o.servicesDetails__icon
                                a(href='mailto:contact@domain.com').contactInfo__heading contact@domain.com
                            li.contactInfo__item
                                i.contactInfo__icon.fa.fa-phone.servicesDetails__icon
                                a(href='tel:12312345678').contactInfo__heading (123) 123-45678
                            li.contactInfo__item
                                i.contactInfo__icon.fa.fa-fax.servicesDetails__icon
                                a(href='fax:12312345678').contactInfo__heading (123) 123-45678
    section.newsletter
        .container
            .row
                .col-lg-4
                    .subcribe
                        h4.newsletter__header Stay informed with our newsletter
                        p.newsletter__text Subscribe to our email newsletter for useful tips and resources.
                        .subscribe__form
                            form.subscribeForm
                                input(placeholder='Email Addres').subscribeForm__input
                                button(type='submit').btn.btn-yellow.contactForm__submit Subscribe
                .col-lg-4
                    .newsletter__image.howItWorkInfo__image
                        img(src='static/img/contact_img.png').newsletter__img
                .col-lg-4
                    .download
                        h4.newsletter__header Stay informed with our newsletter
                        p.newsletter__text Subscribe to our email newsletter for useful tips and resources.
                        .sectionButtons
                            a(href='#').btn.btn-red.btn-mright.btn-mbottom.btn-subsc
                                i.fa.fa-apple
                                | App Store
                            a(href='#').btn.btn-yellow
                                i.fa.fa-android
                                | Play Store

