header
  background-color: rgba(0, 0, 0, .5)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
.navbar
  width: 100%
.logo
.nav
  justify-content: flex-end
  &__list
    display: flex
  &__item
    padding: 0 5px
    &:last-child
      padding: 0 0 0 5px
      position: relative
  &__link
    color: #fff
    text-transform: uppercase
    padding: 15px 10px
    line-height: 35px
    font-size: 15px
    transition: .2s
    &:hover
      background-color: $mainYellowColor
      text-decoration: none
      color: #fff
.dropdown
  display: none
  position: absolute
  background-color: #000
  padding: 5px
  top: 124%
  right: 0
  &__link
    font-size: 1.2em
    color: #fff
    padding: 0 15px
    white-space: nowrap
    &:hover
      text-decoration: none
      background-color: $mainYellowColor
      color: #fff