//top banner section
.topBanner
  background: hsl(220, 93%, 6%) url("../img/top_banner.png") fixed 0 0 no-repeat
  background-size: cover
  padding-bottom: 0
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    background-color: rgba(1, 10, 28, 0.8)
  &__text
    color: #fff
    font-family: $secondFont
  &__header
    font-size: 3.5em
    line-height: 76px
    font-weight: 300
    padding-bottom: 140px
  &__available
    font-size: 1.7em
    font-weight: 300
    margin-bottom: 40px
  &__accent
    color: $mainYellowColor
    font-weight: bold
  &__img
    animation-delay: 1s
    animation: float-img infinite 15s
//section features
.features
  &__img
    img
      animation: float-img-small infinite 10s

.sectionHeading
  text-align: center
  margin-bottom: 60px
  &-white
    color: #fff
  &__header
    font-family: $secondFont
    border-bottom: 1px solid rgba(0, 0, 0, .5)
    font-size: 3em
    display: inline-block
    padding-bottom: 20px
    position: relative
    font-weight: 300
    margin-bottom: 60px
    &:after
      content: ''
      display: inline-block
      font-family: fontawesome, sans-serif
      position: absolute
      bottom: -36px
      font-size: 30px
      color: rgba(0, 0, 0, .5)
      left: 50%
      transform: translate(-50%, -50%)
    &-white
      color: #fff
      border-bottom-color: rgba(255, 255, 255, 0.5)
      &:after
        color: rgba(255, 255, 255, 0.5)
  &__text
    font-family: $secondFont
    font-weight: 300
    color: #555454
    line-height: 1.4
    padding: 0 0 50px
    font-size: 2em
    &-white
      color: #fff

.featuresDetails
  display: flex
  &__column-right
    text-align: right
  &__item
    padding: 10px 20px 30px 0
    border: 1px solid #bfbfbf
    &:last-child
      border-left: none
      border-bottom: none
    &:first-child
      border-top: none
      border-left: none
    &-right
      padding: 10px 0 30px 20px
      &:first-child
        border-left: 1px solid #bfbfbf
        border-right: none
      &:last-child
        border-left: 1px solid #bfbfbf
        border-right: none
        border-bottom: none
  &__icon
    color: $mainYellowColor
    font-size: 2em
  &__heading
    font-size: 1.5em
    margin-top: 10px
    margin-bottom: 10px
  &__text
    font-weight: 300
    color: #555454
    font-size: 16px
//section services
.services
  background: url("../img/services_bg.png") center center no-repeat fixed
  padding-bottom: 0
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    background-color: rgba(1, 10, 28, 0.8)

.servicesImage
  display: flex
  &__img
    &-left
      margin-right: 15px
      transform: translateY(10%)

.servicesDetails
  padding-left: 120px
  font-family: $secondFont
  &__item
    display: flex
    margin-bottom: 40px
  &__link
    display: flex
  &__circle
    padding: 22px 32px
    border-radius: 50%
    border: 2px solid $mainYellowColor
    font-size: 2.2em
    color: $mainYellowColor
    margin-right: 15px
  &__icon
    transition: .5s
    &:hover
      transform: rotate(360deg)
  &__header
    color: #fff
    font-size: 1.8em
    margin-bottom: 25px
  &__text
    color: #fff
    font-size: 14px
    font-weight: 300

//section how it works
.howItWork
  font-family: $secondFont

.howItWorkInfo
  display: flex
  flex-direction: column
  margin-top: 50px
  &-left
    text-align: right
  &__image
    text-align: center
    img
      animation: float-img-small infinite 10s
  &__icon
    font-size: 3rem
    color: $mainYellowColor
  &__link-border
    color: #555454
    font-size: 1.8em
    padding-bottom: 15px
    border-bottom: 1px solid $mainYellowColor
    margin-bottom: 10px

//portfolio
.portfolio
  background-color: #f0efef

.tags
  margin-bottom: 45px
  &__list
    display: flex
    justify-content: space-between
  &__link
    padding: 10px 55px
    background-color: #fff
    transition: .3s
    &:hover
      background-color: $mainYellowColor
      color: #fff
      text-decoration: none

.portfolioItems
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  &__item
    position: relative
    margin-bottom: 15px
    flex-basis: 32%
    overflow: hidden
    outline: 1px solid #000
    &:nth-child(3)
      margin-right: 0
    &:last-child
      margin-right: 0
    &:hover .portfolioItems__header,
    &:hover .portfolioItems__text
      margin-left: 5px
      transform: translateX(0)
      pointer-events: none
  &__header,
  &__text
    position: absolute
    transition: .8s
    padding: 5px 15px
    background-color: rgba(0, 0, 0, .45)
    border-left: 2px solid #fff
    transform: translateX(-100%)
  &__header
    color: $mainYellowColor
    top: 20%
    font-size: 1.4em
  &__text
    color: #fff
    top: 50%
    font-size: 1em
  &__img
    transition: .5s
    &:hover
      filter: grayscale(.75)
      transform: scale(1.3) rotate(-10deg)
//section pricing
.pricing
  background: hsl(220, 93%, 6%) url("../img/price_table_bg.png") fixed 0 0 no-repeat
  background-size: cover
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    background-color: rgba(1, 10, 28, 0.8)

.table
  background-color: #fff
  text-align: center
  position: relative
  overflow: hidden
  &:hover .table__pricing
    background-color: $mainRedColor
  &__header
    font-family: $secondFont
    font-size: 3em
    font-weight: 300
    padding: 20px 0
  &__pricing
    background-color: #c0c0c0
    padding: 10px 0
    transition: .3s
  &__circle
    background-color: #fff
    border-radius: 50%
    padding: 25px 25px
    margin: 0 auto
    display: inline-block
    span
      display: block
      font-family: $secondFont
      &:first-child
        font-size: 3em
        font-weight: bold
        line-height: 30px
      &:last-child
        font-size: 1.5em
  &__list
    margin: 25px 0
  &__li
    border-bottom: 1px dashed #e3e2e2
    padding: 10px 20px
    margin: 0 40px
  &__discount
    background-color: $mainRedColor
    padding: 5px 35px
    position: absolute
    transform: rotate(-43deg)
    top: 15px
    left: -35px
    span
      color: #fff
//section team
.team

.member
  &__image
  &__name
    text-align: center
    border: 1px solid rgba(0, 0, 0, .2)
    padding: 25px 0
    font-family: $secondFont
    h5
      font-weight: bold
    p
      color: $mainYellowColor
//section testimonial
.testimonial
  background: url("../img/testi_bg.png") fixed 0 0 no-repeat
  background-size: cover
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    background-color: rgba(1, 10, 28, 0.8)

.testimonialSlide
  &__card
    display: flex
    color: #fff
    padding: 25px 20px
    width: 60%
    margin: 0 auto
    border: 1px solid rgba(59, 66, 77, 0.6)
    border-radius: 10px
    align-items: center
  &__image
    width: 25%
    text-align: center
    font-family: $secondFont
    img
      margin-bottom: 5px
    h5
      margin-bottom: 5px
    p
      color: $mainYellowColor
      font-size: 0.85em
      font-weight: 300
  &__text
    width: 75%
    text-align: left
    font-size: 1.2em
    padding-left: 25px
    font-weight: 300
    font-family: $secondFont
//section blog
.blog

.blogArticle
  position: relative
  &__detail
    padding: 20px
    background-color: #fff
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: -80px
    display: flex
    flex-direction: column
    width: 90%
    font-family: $secondFont
  &__category
    color: $mainYellowColor
  &__header

    font-weight: 300
    margin-bottom: 10px
    font-size: 1.1em
  &__info
    display: flex
    font-size: 0.9em
  &__time
    margin-right: 10px
    color: #B3B3B3
    &:before
      content: '\f017'
      font-family: fontawesome, sans-serif
      margin-right: 5px
  &__comment
    color: #B3B3B3
    transition: .3s
    &:hover
      color: $mainYellowColor
    &:before
      content: '\f0e6'
      font-family: fontawesome, sans-serif
      margin-right: 5px
  &__link
    text-decoration: underline
    transition: .3s
    &:after
      content: '\f178'
      font-family: fontawesome, sans-serif
      &:hover
        color: $mainYellowColor
//section contacts
.contacts
  background: url("../img/contact_bg.png") fixed 0 0 no-repeat
  background-size: cover
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    left: 0
    background-color: rgba(1, 10, 28, 0.8)
.contactForm
  padding: 45px 35px
  background-color: #fff
  &__wrapper
    display: flex
    flex-direction: column
  &__group
    display: flex
    flex-direction: column
    margin-bottom: 20px
    label
      font-weight: bold
      font-family: $secondFont
      span
        color: red
  &__input
    padding: 5px 15px
    border: 1px solid #ccc
    height: 55px
    font-size: 1.2em
    border-radius: 10px
  &__area
    padding: 5px 15px
    border: 1px solid #ccc
    font-size: 1.2em
    border-radius: 10px
    resize: vertical
  &__submit
    padding: 5px 15px
    font-size: 1.5em
.contactInfo
  height: 100%
  &__list
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 100%
  &__item
    color: #fff
    display: flex
    align-items: center
    a
      transition: .2s
      &:hover
        color: $mainYellowColor
        text-decoration: none
  &__icon
    font-size: 4em
    color: $mainYellowColor
    margin-right: 20px
  &__heading
    font-size: 1.7em
    color: #fff